# Docker
PROJECT_NAME=database-template
# MAIN db
MAIN_POSTGRES_USER=postgres
MAIN_POSTGRES_PASSWORD=postgres
MAIN_POSTGRES_DB=postgres

# META db
META_POSTGRES_USER=postgres
META_POSTGRES_PASSWORD=postgres
META_POSTGRES_DB=postgres

# Hasura
EXPOSED_HASURA_PORT=8080
HASURA_ADMIN_SECRET=admin
HASURA_ENABLE_CONSOLE=true
HASURA_DEV_MODE=false